*{
    margin: opx;
    pading: 0px;

    }
.manu-container{
    background-color: black;
    padding:20px;
    color: beige;
    display: flex;
    justify-content: space-around; list-style: none;

}
.logo-photo{
    width: 120px;
   
}
.manu{
    display: flex;
}
.item{f
    margin: 20;
    padding: 7px;
    font-size:18px ;
    cursor: pointer;
}
.item:hover{
    color: mediumblue;
}
.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-img{
    height: 200px;
    width: 200px;
}
banner{
    display: flex;
}